@keyframes focusText {
    0% {
      
        
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    50% {
        // font-size: 150%;
        margin-left: 25%;
        width: 150%;
    }
    100% {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes topdown {
    from {
        transform: translateY(-100vh);
        opacity: 0.2;
    }
    50% {
        transform: translateY(-25%);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fromleft {
    from {
        transform: translateX(-100vh);
        opacity: 0.2;
    }
    50% {
        transform: translateX(5%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}