$prim_hex: #14279B;
$sec_hex: #3D56B2;
$third_hex: #5C7AEA;
$fourth_hex: #E6E6E6;
$prim_rgb: rgb(20, 39, 155);
$sec_rgb: rgb(61, 86, 178);
$third_rgb: rgb(92, 122, 234);
$fourth_rgb: rgb(230, 230, 230);