@import 'animation';
.nav_bar{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    li,a{
        margin: 3rem;
        align-self: flex-start;
        text-align: start;
        font-size: calc(2vh + 15px) ;
        width: fit-content;
    }
    .btnMenu{
        position: absolute  ;
        margin: 5px;
        top:25px;
        right:25px;
        font-size: calc(2vh + 5px) ;
    }
        
        
    }
    .nav_bar_item:hover {
        animation: focusText 2s ease-out;
        animation-fill-mode: forwards;
            
             
        }
    
    
    

