@import 'animation';
@import'colors';
.nav_bar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $primary;
    opacity: 0.95;
    color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 1.5s;
    z-index: 2;
    .nav_bar_item:hover {
        animation: focusText 1.5s ease-out;
        animation-fill-mode: forwards;
        background: transparent;
        // color: $third;
    }
    li,
    a {
        align-self: center;
        margin: 1rem;
        text-align: center;
        font-size: calc(2vh + 15px);
        position: relative;
        text-transform: uppercase;
        &>:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: $third;
            height: 2px;
            color: $third;
            transform: translateY(-50%) scaleX(0);
            transform-origin: right;
            transition: 1s transform;
        }
        &>:hover:before {
            transform: translateY(-50%) scaleX(1);
            transform-origin: left;
            transition: 1s transform;
        }
    }
    .btnMenu {
        cursor: pointer;
        position: absolute;
        margin: 5px;
        top: 25px;
        right: 25px;
        font-size: calc(1vh + 12px);
        &:hover {
            color: $third;
        }
    }
}