@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'colors';
@import 'menu';
@import 'cover';
@import 'colors';
@import 'animation';
@import 'cards';
@import 'canvas';
body {
    scroll-behavior: smooth;
    background-color: $secondary;
    font-family: 'Open Sans', sans-serif;
    color: $primary;
    .header_menu {
        display: flex;
        justify-content: space-between;
        margin: 0.2rem;
        margin-top: 0.2rem;
        .logo{
            position: fixed;
            margin: 2rem;
        }
        .btnMenu {
            position: fixed;
            margin:1rem;
            top: 2.55%;
            right: 5%;
            cursor: pointer;
            color: $primary;
            font-weight: bold;
            &:hover {
                color: $third;
                font-weight: normal;
                transform: scale(0.9);
            }
        }
    }
    .active {
        transform: scale(1);
    }
    section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .section_title {
            font-size: 2.5rem;
            color: $third;
            // margin-top: 5vh;
            justify-content: start;
        }
    }
    footer {
        display: flex;
        justify-content: center
    }
}

@import 'responsive';